<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SCAVHUNT!</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

      <style>

.hiddenskip {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    height:15%;
    text-align: center;
    font-size: x-large;
}

.stepcounter{
    position: absolute;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: x-large;
}
      </style>

  </head>
  <body>
  <div class="hiddenskip" onClick="getNextLocation(nextLocation.next_rank)"></div>
  <div id="debugfield"></div>
    <div id="stepcounter" class="well stepcounter"><span id="demo">Waiting..</span></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.backstretch.min.js"></script>
  <script>
var x = document.getElementById("demo");
var nextLocation = null
var loading = false;
var watchPositionID = null
var debug = window.location.search.indexOf("debug") > -1

// Accuracy value, higher = easier
var stepwidth = 14
function startStepping() {
    if (navigator.geolocation) {
        watchPositionID = navigator.geolocation.watchPosition(showSteps, function error(msg){}, {maximumAge:0, timeout:3000, enableHighAccuracy: true});
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function stopStepping() {
    navigator.geolocation.clearWatch(watchPositionID);
}

// Use a generic loading screen if anything ajax related is launched
$(document).bind("ajaxSend", function(){
   loading = true;
 }).bind("ajaxComplete", function(){
   loading = false;
});

function getNextLocation(currentRank) {
    if (!currentRank) {
        currentRank = 0
    }
    $.backstretch("/static/locations/loading.gif",{fade: 800})
    nextLocation = null
    $.getJSON( "next/"+ currentRank, function( data ) {
        nextLocation = data;
        $.backstretch(nextLocation.imgUrl, {fade: 800})
    });

}

// This function is run every time the client changes location
function showSteps(position) {
    var x = document.getElementById("demo");
    // First, check if we are not loading a new location
    if(!loading) {
        // So, it could be that between steps the next location finished
        // loading and it turned out to be the final location! Done!
        if(nextLocation.next_rank == "-1") {
            stopStepping()
            x.innerHTML = "GOOD JOB!";
        } else {
            // Calculate the number of kilometers between the current position and the goal
            kms = getDistanceFromLatLonInKm(position.coords.latitude, position.coords.longitude, nextLocation.next_lat, nextLocation.next_long)
            steps = Math.floor(kms * 1000 * 2)

            // If the number of steps is close enough to the goal, 
            // load the next location. Otherwise, just update the
            // number of steps remaining
            if(steps <= stepwidth) {
                getNextLocation(nextLocation.next_rank)
                x.innerHTML = "Next!";
            } else {
                if(debug) {
                    var debugfield = document.getElementById("debugfield");
                    debugfield.style.backgroundColor = "white"
                    debugfield.innerHTML = "STEPS DIFF: " + steps + "<br>STEP ACCURACY " + stepwidth + "<BR>LAT " + position.coords.latitude + "<br>LONG " + position.coords.longitude + "<br>KMS " + kms + "<br>GOAL LAT " + nextLocation.next_lat + "<br>GOAL LONG " + nextLocation.next_long;
                }
                x.innerHTML = (steps - stepwidth) + "<img src='/static/locations/steps.png' height='24px'>";
            }
        }
    } else {
        x.innerHTML = "Loading.."
    }
}

function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = deg2rad(lat2-lat1);  // deg2rad below
  var dLon = deg2rad(lon2-lon1);
  var a =
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ;
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  var d = R * c; // Distance in km
  return d;
}

function deg2rad(deg) {
  return deg * (Math.PI/180)
}

// Init the first location
getNextLocation()

// Start monitoring the client position for changes
startStepping()
</script>
  </body>
</html>
